.container {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #B7BAC1;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 100%;

}

.line {
    width: 10%;
    height: 2px;
    background-color: red;
}

.timeBtn {
    width: 18%;
    height: 6vh;
    background-color: white;
    border: 1px solid #B7BAC1;
    border-radius: 10px;
    margin-left: 10px;
}

.timeBtnActive {
    width: 18%;
    height: 6vh;
    background-color: '#DDE3EE';
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}